<div class="mobile-fit-card">
    <% if (posts.length === 0) { %>
        <p class="no-posts-msg"><i class="fa-regular fa-face-frown"></i> Nothing Found</p>
    <% } else { %>
        <% posts.forEach(function(post) { %>
            <div class="explorarCardDiv">
                <% if(post.thumbnail) { %>
                    <img src="/Public/<%= post.thumbnail %>" alt="post image">
                <% } %>
                <a href="/explorar/<%= post._id %>">
                    <h5><%= post.title %></h5>
                    <p><%= truncate(post.body) %></p>
                </a>
                <% if (post.tags && post.tags.length > 0) { %>
                    <div class="tags">
                        <% post.tags.forEach(tag => { %>
                            <span class="tag"><%= tag %></span>
                        <% }) %>
                    </div>
                <% } %>
                <div class="timeShowing">
                    <small>
                        <%= moment(post.createdAt) %>,
                        Posted by <a href="/author/<%= post.author._id%>"><%= post.author.username %></a>,
                        <%= post.readTime %>
                    </small>
                    <% if(user) { %>
                        <span class="bookmarks-icon" data-post="<%= post._id %>">
                            <% if(bookmarks.includes(post._id)) { %>
                                <i class="fa-solid fa-bookmark"></i>
                            <% } else { %>
                                <i class="fa-regular fa-bookmark"></i>
                            <% } %>
                        </span>
                    <% } %>
                </div>
            </div>
        <% }) %>
    <% } %>
</div>
