<%- include('../../Partials/header.ejs') %>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/Style/author.css">
</head>
<body>
    <div class="author-profile-container">
        <div class="author-profile-card">
            <img class="author-avatar" src="/Public/<%= author && author.profilePics ? author.profilePics : 'default.png' %>" alt="Author Avatar">
            <h2><%= author ? author.username : 'Author Name' %></h2>
            <p class="author-bio"><%= profile && profile.bio ? profile.bio : 'No bio available.' %></p>
        </div>
        <div class="author-posts-section">
            <h3>Posts by <%= author ? author.username : 'this author' %>:</h3>
            <% if (posts && posts.length > 0) { %>
                <ul class="author-posts-list">
                    <% posts.forEach(function(post) { %>
                        <li>
                            <a href="/explorar/<%= post._id %>"><%= post.title %></a>
                            <span class="post-date"><%= moment(post.createdAt) %></span>
                        </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <p>No posts yet.</p>
            <% } %>
        </div>
    </div>
</body>
</html> 