<%- include('../../Partials/header.ejs') %>

<head>
    <title>Exp-Blog~Explorar</title>
    <link rel="stylesheet" href="Style/explorar.css">
</head>
<div class="explorarContainer">
    <div class="row">
        <section>
            <a href="/explorar/filter=latest"  class="<%= filter === 'latest' ? 'active' : '' %>" >Latest</a>

            <a href="/explorar/filter=week"  class="<%= filter === 'week' ? 'active' : '' %>" >Week</a>

            <a href="/explorar/filter=month"  class="<%= filter === 'month' ? 'active' : '' %>" >Month</a>

            <a href="/explorar/filter=All"  class="<%= filter === 'all' ? 'active' : '' %>" >All</a>
        </section>

        <section class="explorarCard">
            <% if (posts.length === 0) {%>
                    <p>>No posts available</p>
            <%} else{%> 
                    
                <% for(post of posts) {%> 
                    <div class="explorarCardDiv">
                        <% if(post.thumbnail) {%> 
                            <img src="/Public/<%= post.thumbnail %>" alt="post image">    
                        <%} %>
                        <a href="/explorar/<%= post._id %>">
                            <h5><%= post.title %> </h5>
                            <p><%= truncate(post.body) %> </p>
                        </a>

                        <div class="timeShowing">
                            <small>
                                <%= moment(post.createdAt) %>,
                                Posted by <%= post.author.username %>,
                                <%= post.readTime %>
                            </small>
                        </div>

                    </div>    
                <%} %>

                <%} %>
        </section>

    </div>
</div>