<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= post.title %></title>
    <link rel="stylesheet" href="/Style/singlePage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    
</head>
<body>
    <%- include('../../Partials/header.ejs') %>

    <div class="singlePostContainer">
        <div class="postHeader">
            
            <p class="postMeta">
                Posted by <strong><%= post.author.username %></strong> on <%= postDate %>
            </p>
            <h1><%= post.title %></h1>
        </div>

        <% if (post.thumbnail) { %>
            <div class="postThumbnail">
                <img src="/Public/<%= post.thumbnail %>" alt="<%= post.title %>">
            </div>
        <% } %>

        <div class="postContent">
            <p><%= post.body %></p>
        </div>

        <div class="postFooter">
            <p>Tags: 
                <% post.tags.forEach(tag => { %>
                    <span class="tag"><%= tag %></span>
                <% }) %>
            </p>
            <p>Estimated Read Time: <%= post.readTime %> minutes</p>
        </div>

        <% if (user) { %>
            <div class="bookmarkSection">
                <span class="bookmarks-icon" data-post="<%= post._id %>">
                    <% if (bookmarks.includes(post._id)) { %>
                        <i class="fa-solid fa-bookmark"></i> Bookmarked
                    <% } else { %>
                        <i class="fa-regular fa-bookmark"></i> Add to Bookmarks
                    <% } %>
                </span>
            </div>
        <% } %>
    </div>

    <script src="/Scripts/bookmarks.js"></script>
</body>
</html> 