<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= post.title %></title>
    <link rel="stylesheet" href="/Style/singlePage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
</head>
<body>
    <%- include('../../Partials/header.ejs') %>
    <div class="singlePostContainer">
        <div class="postHeader">
            <p class="postMeta">
                <i class="fa-solid fa-user"></i>
                Posted by <strong><a href="/author/<%= post.author._id%>"><%= post.author.username %></a></strong>
                <span class="dot"></span>
                <i class="fa-regular fa-clock"></i>
                <%= postDate %>
            </p>
            <h1><%= post.title %></h1>
        </div>
        <% if (post.thumbnail) { %>
            <div class="postThumbnail">
                <img src="/Public/<%= post.thumbnail %>" alt="<%= post.title %>">
            </div>
        <% } %>
        <div class="postContent">
            <p><%= post.body %></p>
        </div>
        <div class="postFooter">
            <div class="tags-row">
                <i class="fa-solid fa-tags"></i>
                <% post.tags.forEach(tag => { %>
                    <span class="tag"><%= tag %></span>
                <% }) %>
            </div>
            <div class="readtime-row">
                <i class="fa-regular fa-hourglass-half"></i>
                <span>Estimated Read Time: <%= post.readTime %> minutes</span>
            </div>
        </div>
        <div class="like-dislike-bookmarks">
            <% if (!user) { %>
                <button id="like-btn" disabled>
                    <i class="fa-regular fa-thumbs-up"></i> Like (<%= post.likes.length %>)
                </button>
                <button id="dislike-btn" disabled>
                    <i class="fa-regular fa-thumbs-down"></i> Dislike (<%= post.dislikes.length%>)
                </button>
                <p class="login-suggestion">To comment, please <a href="/auth/login">Login</a></p>
            <% } else {%>
                <div class="authentic-option">
                    <button id="likebutton" data-post="<%= post._id%>">
                        <i id="likeIcon" class="<%= post.likes.includes(user._id) ? 'fa-solid fa-thumbs-up':'fa-regular fa-thumbs-up' %>"></i>
                        <span><%= post.likes.includes(user._id) ? 'Liked': 'Like' %> (<%= post.likes.length %>)</span>
                    </button>  
                    <button id="dislikebutton" data-post="<%= post._id%>">
                        <i id="dislikeIcon" class="<%= post.dislikes.includes(user._id) ? 'fa-solid fa-thumbs-down':'fa-regular fa-thumbs-down' %>"></i>
                        <span><%= post.dislikes.includes(user._id) ? 'Disliked':'Dislike' %> (<%= post.dislikes.length%>)</span>
                    </button> 
                    <div class="bookmarkSection">
                        <span class="bookmarks-icon" data-post="<%= post._id %>">
                            <% if (bookmarks.includes(post._id)) { %>
                                <i class="fa-solid fa-bookmark"></i> 
                            <% } else { %>
                                <i class="fa-regular fa-bookmark"></i> 
                            <% } %>
                        </span>
                    </div>  
                </div>
                <div class="comment">
                    <label for="comment">Leave a comment</label>
                    <input type="text" id="comment" placeholder="Add a comment" data-post="<%= post._id%>">
                </div>
                <div class="comment-hold">
                    <% if(post.comments.length === 0){%>
                        <p>No Comment Yet</p>
                    <%} else {%>
                        <% for(let comment of post.comments.reverse()) {%>
                        <div class="media">
                            <img src="/Public/<%= comment.user.profilePics%>" alt="">
                            <div class="media-body">
                                <p>
                                    <%= comment.body %>
                                </p>
                                <div class="replies">
                                    <% if(comment.replies.length>0) {%>
                                        <% for (let reply of comment.replies) {%>
                                            <div class="media-reply">
                                                <img src="/Public/<%= reply.user.profilePics %>" alt="">
                                                <div class="reply-body">
                                                    <p><%= reply.body %></p>
                                                </div>
                                            </div>
                                        <%} %>
                                    <%} %>
                                </div>
                                <div class="reply-input">
                                    <input type="text" placeholder="Press enter to Reply" data-comment="<%= comment._id %>" >
                                </div>
                            </div>
                        </div>
                        <%} %>
                    <%} %>
                </div>
            <%} %>  
        </div>
    </div>
    <script src="/Scripts/bookmarks.js"></script>
    <script src="/Scripts/likeDislike.js"></script>
    <script src="/Scripts/comment.js"></script>
</body>
</html>